.ui-menu {
    width: 250px;
}

.ui-menu-item-wrapper {
    height: 55px;
}

.container {
  display: flex;
}

/* Modal code from W3 Schools https://www.w3schools.com/howto/howto_css_modals.asp /*
 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  color: lightcyan;
  background-color: #474747;
  background-blend-mode: color-burn;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  padding-left: 40px;
  border: 1px solid #888;
  border-radius: 50px;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: rgb(184, 77, 77);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

/* End of modal */